@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&display=swap");
:root {
  --dark-mode-element: hsl(209, 23%, 22%);
  --dark-mode-background: hsl(207, 26%, 17%);
  --light-mode-text: hsl(200, 15%, 8%);
  --light-mode-input: hsl(0, 0%, 52%);
  --light-mode-background: hsl(0, 0%, 98%);
  --dark-mode-text-light-mode-element: hsl(0, 0%, 100%);
  --font-nunito-sans: "Nunito Sans";
}
* {
  padding: 0;
  margin: 0;
  font-family: var(--font-nunito-sans);
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#root {
  width: 100%;
  height: 100%;
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}
.grow {
  flex-grow: 1;
}
.flex-col {
  flex-direction: column;
}
.rotate-180 {
  transform: rotate(180deg);
}
.flex-wrap {
  flex-wrap: wrap;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.inline-block {
  display: inline-block;
}
